{% extends "layout.html" %}
{% block title %}Rekisteröidy{% endblock %}

{% block content %}

<h1>Rekisteröidy</h1>
<p>
<form action="/register" method="POST">
    <p>Käyttäjänimi: <br><input type="text" name="username" size="20"></p>
    <p>Salasana: <br><input type="password" name="password" size="20"></p>
    <p>
    <p>Käyttäjärooli:</p>
    <input type="radio" name="role" value="1" checked> Käyttäjä
    <input type="radio" name="role" value="2"> Ravintoloitsija
    <p>
    <input type="submit" value="Luo käyttäjä">
</form>

{% endblock %}
